

body {
    text-align: center;
    color: aqua;
    font-size: 5rem;
    background: url(./img/uwp484015.jpeg) no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: aqua;
}