@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&family=Press+Start+2P&family=Raleway:wght@200;300;400&display=swap');
:root {
    --violet: white;
    --vertsp:#A9FFCB;
}
@font-face {
    font-family: "electroharmonix";
    src: url(police/electroharmonix.ttf) format("truetype");
}
@font-face {
    font-family: "nuku1";
    src: url(./police/nuku1.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-color: #A9FFCB;
    cursor: none;
}
.cursor {
    position: fixed;
    z-index: 5;
    width: 40px;
    height: 40px;
    border: 2px solid #f03e3e;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}
.cursor2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: black;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 100vh;
    width: 90%;
    margin: auto;
    padding: 1vw;
    overflow: hidden;
}
.top-info {
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 1vw;
    text-align: center;
    background: white;
    border-radius: 20px;
}
.top-info h1{
    margin-bottom: .5vw;
    font-family: "Press start 2p";
    font-size: 2vw;
}
.top-info p {
    font-family: "Cairo";
    font-weight: bold;
    font-size: 1.5vw;
}

.game-container {
    position: relative;
    height: 800px;
    width: 100%;
    overflow-x: hidden;
}
.gameover {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press start 2p";
    font-size: 4vw;
    padding: 2vw;
    background-color: black;
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.start-btn {
    font-family: "Press start 2p";
    font-size: 3vw;
    color: white;
    background: black;
    height: fit-content;
    width: 70%;
    min-width: 65%;
    padding: 5vw;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: .5;
    transition: .2s ease;
}
.start-btn:hover {
    opacity: 1;
}
.start-btn h2 {
    display: block;
    width: 100%;
}
.life {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 80px;
    width: 250px;
    border: 2px solid black;
    color: red;
    background: white;
    font-size: 3vw;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,-2%);
    border-radius: 30px;
}
.life i {
    margin: 5px;
}
.flymonster {
    position:absolute;
    top:0;
    left:-300px;
    transform:scale(0.8);
    animation:run linear
forwards;	}

@keyframes run {
    to {
        transform:translatex(2000px) ;
    }
}

.off {
    display: none;
}
a {
    position: absolute;
    top: 4%;
    left: 9%;
    transform: translate(-9%, -4%);
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: "Press start 2p";
    cursor:none;
}
a:hover {
    text-decoration: underline;
}