@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&family=Raleway:wght@200;300;400&display=swap');
:root {
    --violet: white;
    --vertsp:#A9FFCB;
}
@font-face {
    font-family: "electroharmonix";
    src: url(police/electroharmonix.ttf) format("truetype");
}
@font-face {
    font-family: "nuku1";
    src: url(./police/nuku1.ttf) format("truetype");
}
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: black;
    margin: 0;
}
/***************************************************/
/************     NAVBAR    ***********************/
/***************************************************/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    border-bottom: 1px solid yellow;
    width: 98%;
    margin: auto;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
    padding-right:15px;
  
  }
  nav li {
    list-style: none;
  }
  nav li a {
    z-index: 3;
    text-decoration: none;
    font-family: "nuku1";
    font-size: 2rem;
    color: yellow;
    transition: 0.3s ease-in-out;
    cursor:none;
  }
  nav li a:hover {
    z-index: 3;
    color: #B026FF;
  }
  nav h2{
      z-index: 3;
      font-family: "electroharmonix";
      padding-left: 15px;
      color: yellow;
      font-size: 2.5vw;
      margin: 0;
  }
  nav h2 a {
      z-index: 3;
      text-decoration: none;
      color: yellow;
      cursor:none;
  }
  .navlink a {
      z-index: 3;
      text-decoration: none;
      font-family: "nuku1";
      font-size: 2rem;
      color: yellow;
      transition: 0.3s ease-in-out;
      cursor:none;
  }
  .navlink a:hover {
      z-index: 3;
      color: #B026FF;
  }
.video-container {
    position: relative;
    top: -65px;
    left: 0;
    height: 105vh;
    width: 100%;
    background: #A9FFCB;
    z-index: -1;
}
.showcase {
    position:absolute ;
    top: -40vh;
    left: -40wh;
}



