@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&family=Press+Start+2P&family=Raleway:wght@200;300;400&display=swap');
:root {
    --violet: white;
    --vertsp:#A9FFCB;
}
@font-face {
    font-family: "electroharmonix";
    src: url(police/electroharmonix.ttf) format("truetype");
}
@font-face {
    font-family: "nuku1";
    src: url(./police/nuku1.ttf) format("truetype");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    cursor: none;
    height: 100vh;
    background: url(./img/wp3102477-neon-city-wallpapers.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    width: 100%;

}
/*.navbar {
    z-index: 3;
    height: 6vh;
    width: 100%;
    min-width: 300px;

}*/
/*nav {
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid yellow;
    min-width: 300px;
}*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6vh;
  border-bottom: 1px solid yellow;
  width: 98%;
  margin: auto;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
  padding-right:15px;

}
nav li {
  list-style: none;
}
nav li a {
  z-index: 3;
  text-decoration: none;
  font-family: "nuku1";
  font-size: 2rem;
  color: yellow;
  transition: 0.3s ease-in-out;
  cursor:none;
}
nav li a:hover {
  z-index: 3;
  color: #B026FF;
}
nav h2{
    z-index: 3;
    font-family: "electroharmonix";
    padding-left: 15px;
    color: yellow;
    font-size: 2.5vw;
    margin: 0;
}
nav h2 a {
    z-index: 3;
    text-decoration: none;
    color: yellow;
    cursor:none;
}
/*.navlink {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-right: 50px;
    width: 30%;
    height: 100%;
    min-width: 300px;
}*/
.navlink a {
    z-index: 3;
    text-decoration: none;
    font-family: "nuku1";
    font-size: 2rem;
    color: yellow;
    transition: 0.3s ease-in-out;
    cursor:none;
}
.navlink a:hover {
    z-index: 3;
    color: #B026FF;
}
.burger {
  display: none;
}
.burger div {
  width: 30px;
  height: 3px;
  background: yellow;
  margin: 4px;
  border-radius: 5px;
}


/*rain bg */

.fa-droplet {
    color: rgb(160, 160, 160);
    position: absolute;
    top: -20px;
    animation: fall linear forwards;
}
@keyframes fall {
    to{
        transform:translateY(105vh);
    }  
}


/*  TITRE   */

.inf{
    width: 100%;
    min-width: 300px;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
}
.glitch-bloc {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
}
.glitchedAnim, .invisible-text {
    font-family: "electroharmonix";
    font-size: 15vw;
    font-weight: bold;
    line-height: 1.1;
}
.glitchedAnim {
    position: absolute;
    top: 0;
    opacity: 0.9;
}
.invisible-text {
    visibility: hidden;
}
.glitchedAnim:nth-child(2) {
    color: #f03e3e;
    animation: skewAnim 3s infinite;
}
.glitchedAnim:nth-child(3) {
    color: #3df0cf;
    animation: glitchAnim2 3s infinite;
}
.glitchedAnim:nth-child(4) {
    color: #f1f1f1;
    animation: glitchAnim1 3s infinite;
}


@keyframes glitchAnim1 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(3px, -1px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(-6px, -4px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(5px, -4px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(3px, 2px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
  
  
  
  @keyframes glitchAnim2 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(-3px, 1px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(6px, 4px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(-5px, 4px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(-4px, 2px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
  
  
  
  @keyframes skewAnim {
    20% {
      transform: none;
    }
    23% {
      transform: skew(2deg, -2deg) translate(5px, 2px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: skew(3deg, -3deg) translate(-5px, 2px);
    }
    46% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }


  /*cursor*/

  .cursor {
      position: fixed;
      z-index: 5;
      width: 50px;
      height: 50px;
      border: 2px solid #f03e3e;
      border-radius: 50%;
      left: 0;
      top: 0;
      pointer-events: none;
      transform: translate(-50%, -50%);
      transition: 0.1s;
  }
  .cursor2 {
    position: fixed;
    z-index: 5;
    width: 8px;
    height: 8px;
    background-color: yellow;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.choice {

    width: 60%;
    min-width: 300px;
    padding: 15px;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cyber {
    cursor: none;
    width: 250px;
    height: 80px; 
    border: 0;
    outline: none;
    background-color: black;
    cursor: pointer;
    position: relative;
    font-family: Tomorrow, sans-serif;
    font-size: .85vw;
    text-transform: uppercase;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);    
}
.cyber-content {
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: yellow;
    transition: .1s ease-in-out;
    font-size: 1.2vw;
    color: black;
    font-family: 'Press Start 2P', cursive;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.cyber-content:hover {
    background-color: #f03e3e;
}






/*******************************************************
********************************************************
**********************************************************
***********************************************************/

@media screen and (max-width: 950px){
  nav ul {
    display: none;
  }
  .burger {
    display: block;
  }
  nav h2 {
    font-size: 4vw;
  }
  .choice {
    flex-direction: column;
    margin-top: 10vh;
  }
  .cyber {
    width: 50%;
    margin-top: 15px;
  }
  
}
@media screen and (max-width: 590px){
  nav h2 {
    font-size: 6vw;
  }
  .cyber-content {
    font-size: 3vw;
  }
}